#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 1fr;
    grid-rows: 1fr;
    border: green;
}
#tree-container > TreeView {
    margin-bottom: 1;
    padding: 1;
}


#tree-container {
    width: 100%;
    height: 100%;
    background: $panel;
    dock:left;
    overflow-x: auto;
    border: dodgerblue;
} 

#tab-container {
    height: auto;
    border: yellow;
    border:magenta;
}

#json-document {
    height: auto;
    border: mediumvioletred;
}

